main.main-content
	section.about-me
		h2.title ОБО МНЕ
		img(src="img/my_photo.jpg", alt="Михаил Измайлов").about-me__photo
		.about-me__text
			h3.about-me__title КТО Я
			p Я frontend-разработчик, с web-технологиями познакомился в 2013 году, но серьезно занялся frontend разработкой около года назад. Прошел курс "Комплексное обучение веб разработкe" от Loftschool. 
			p Есть опыт коммерческой разработки, удаленно работал верстальщиком в web-студии. Сверстал около 10-макетов различной сложности. Есть опыт в написании и правке JavaScript сценариев для UI-элементов, небольшой опыт в написании кода на PHP. Знаком с OOП, MVC концепциями.
			p В данный момент являюсь студентом Национального горного университета, обучаюсь по специальности "Программная инженерия и технологии", очно.
	section.skills
		h3.skills__title ЧЕМ Я МОГУ БЫТЬ <br> ВАМ ПОЛЕЗЕН
		p London is the capital of Great Britain
		ul.skills__types-list
			-var data = {"Frontend":{'HTML5':'75','CSS3':'100','<tspan dy="-10" dx="-5">JavaScript</tspan><tspan dy="15" dx="-50">& jQuery</tspan>':'80'},"Backend":{'PHP':'30','MySQL':'70'},"Workflow":{'Sass':'100','Jade':'100','Git':'50','Gulp':'60','NPM':'70'}}
			-each item,title in data
				li.skills__type
					h4.skills__type-title=title
					ul.skills__item-list
						-each val,index in item
							li(data-name=index data-val=val).skills__item 

	section.contacts
		.contacts__data
			h2.contacts__title.title КОНТАКТЫ
			ul.contacts__list
				-var contacts = {'skype_n':["m-izmaylov","callto:m-izmaylov"],'phone_n':["+38(063)7831249","callto:m-izmaylov"],'envelope_n':["m-izmaylov@inbox.ru","mailto:m-izmaylov@inbox.ru"],'map_n':["Днепр, просп Гагарина 57",""]}; //Незавание переменной не меняй!!! В футере тоже использую
				-each val,index in contacts 
					li.contacts__item
						a(href="#{val[1]}").contacts__link
							+icon(index,'')
							span= val[0]
		.map#map
